.header{
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(50, 114, 10);
}

.unorder{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.deschead{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.unorder.size{
    font-size: 15px;
}

.unorder.text{
    font-size: 12px;
    font-style: italic;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }